@import url('https://fonts.google.com/specimen/Rubik?query=Rubik');

body {
  color: #303841;
  font-family: Rubik, sans-serif;
  margin: 0;
}

.App {
  text-align: center;
}

.App::before {
  content: "";
  display: block;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%) skewY(-8deg);
  background-color: #f6c90e;
  z-index: -1;
  text-align: center;
  animation: backgroudWave 8s ease-in-out infinite alternate;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .25s ease;
}

@media screen and (max-width: 800px) {
  .container {
    padding-top: 200px;
  }
}


.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all .25s ease;
}

.box {
  background-color: #fff;
  margin: 32px 16px;
  transition: all .25s ease;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes backgroudWave {
  0% {
    top: 50%
  }

  50% {
    top: 65%
  }
}